.input{
    position: relative;

    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;

    &__element{
        width: 100%;
        height: auto;

        position: relative;

        padding:13px 12px;

        background-color: $neutral-primary;

        border-radius: 4px ;

        border: 1px solid $neutral-secondary;

        font-size: 16px;
    }

    &__text{

    }

    &__select{

    }

}