.mainpage{
    position: relative;

    width: 100%;
    height: auto;

    padding:20.92px 0px 44px;

    &__search{
        position: relative;

        width: 100%;
        height: auto;

        margin-bottom: 19px;
    }

    &__links{
        position: relative;

        width: 100%;
        height: auto;
        margin-bottom: 23px;

        display: grid;
        grid-template: auto / auto ;
        grid-auto-flow: column;
        gap: 0px 9px;

        justify-content: flex-end;
    }

    &__content{
        position: relative;

        width: 100%;
        height: auto;

        &-list{
            position: relative;

            width: 100%;
            height: auto;

            display: grid;
            grid-template: auto / auto;
            grid-gap: 12px 0px;
        }
    }
}